<mat-card class="min-whidth">
  <mat-toolbar class="min-whidth">
    <mat-toolbar-row>
      <h1>Adicionar Curso</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card-content>
    <form [formGroup]="courseForm">
      <mat-form-field appearance="fill">
        <mat-label>Nome do curso</mat-label>
        <input type="text" formControlName="name" matInput placeholder="Ex: Angular" minlength="5" maxlength="200" #name
          required>
        <mat-icon matSuffix>badge</mat-icon>
        <mat-error *ngIf="courseForm.get('name')?.invalid">{{ getErrorMessage('name') }}</mat-error>
        <mat-hint style="color: #ffffff;" align="end">{{name.value.length}}/200</mat-hint>

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Duração em minutos</mat-label>
        <input type="number" formControlName="duration" matInput placeholder="Ex: 115" minlength="2" maxlength="10"
          #duration required>
        <mat-icon matSuffix>timer</mat-icon> 
        <mat-error *ngIf="courseForm.get('duration')?.invalid">{{ getErrorMessage('duration') }}</mat-error>

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category" #category required maxlength="50" minlength="3">
          <mat-option value="">Nothing</mat-option>
          <mat-option value="FullStack">FullStack</mat-option>
          <mat-option value="FronEnd">FronEnd</mat-option>
          <mat-option value="BackEnd">BackEnd</mat-option>
        </mat-select>
        <mat-icon matSuffix>category</mat-icon>
        <mat-hint style="color: #ffffff;" align="end">{{category.value.length}}/50</mat-hint>
        <mat-error *ngIf="courseForm.get('category')?.invalid">{{ getErrorMessage('category') }}</mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button type="submit" (click)="onSubmit()" color="accent" mat-raised-button color="accent">
          Salvar <mat-icon style="color: black;" matSuffix>save</mat-icon>
        </button>
        <button type="reset" (click)="onCancel()" mat-raised-button color="warn">Cancelar
          <mat-icon style="color: black;" matSuffix>cancel</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
