
div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

mat-card{
    padding: 2%;
    margin: 2%;
    width: auto;
    margin-bottom: 2em;
}

mat-toolbar{
    margin-bottom: 2em;
}

table {
    width: 100%;
}

.load_spinner{
    background-color: #212121;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#firstMatCard{
    margin: 1%;
    padding: 1%;
}